@font-face {
    font-family: 'plantagenet_cherokeeregular';
    src: url('fonts/plantagenet_cherokee-webfont.woff2') format('woff2'),
         url('fonts/plantagenet_cherokee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo-text {
    font-family: 'plantagenet_cherokeeregular';
    color: #ffffff;
    font-size: 30px;
    margin-top: 4px;
    margin-left: -6px;
    padding-right: 9px;
}

#navbar-text li a {
    font-family: 'plantagenet_cherokeeregular';
    color: #ffffff;
    font-size: 20px;
    padding-top: 19px;
}

#navbar-text li a:hover, a:active {
    color: orange;
}

#navbar-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e4d9d+0,1a3270+100 */
    background: #2e4d9d !important; /* Old browsers */
    background: -moz-linear-gradient(top, #2e4d9d 0%, #1a3270 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2e4d9d 0%,#1a3270 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2e4d9d 0%,#1a3270 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4d9d', endColorstr='#1a3270',GradientType=0 ) !important; /* IE6-9 */
    border-bottom: 4px solid #000000;
    margin:0;
}

#hidden li a {
    display: none;
}

.full-width-background {
    background-color: #F2F2F2;
}

html {
    min-height: 100vh;
}

body {
    background-color: #F2F2F2;
    min-height: 100vh;
}

.body-content {
    background-color: #F2F2F2;
}

#body-container {
    background-color: white;
    margin: 5% 0 5% 0;
    height: 50%;
}

/*FORM*/

.form-input {
    max-width: 280px;
    clear: both;
    margin: auto;
    margin-top: 30px;
    display: flex;
    border: none;
    color: black !important;
}

.form-container {
    background-color: #E6E6E6;
    text-align: center;
    border: 4px solid #000000;
    height: 305px;
    width: 30%;
    margin: auto;
    margin-top: 115px;
    margin-bottom: 116px;
}

#profile-icon {
    vertical-align: middle;
    height: 90px;
    margin-top: 20px;
}

#log-in {
    background: #2e4d9d !important; /* Old browsers */
    background: -moz-linear-gradient(top, #2e4d9d 0%, #1a3270 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2e4d9d 0%,#1a3270 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2e4d9d 0%,#1a3270 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4d9d', endColorstr='#1a3270',GradientType=0 ) !important; /* IE6-9 */
    border: 1px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    width: 90px;
    margin-top: 26px;
}

#logo {
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
}

#logo-footer {
    height: 40px;
}

footer {
    background-color: #231F20;
    text-align: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-family: 'plantagenet_cherokeeregular';
    font-size: 20px;
    padding-top: 12px;
    /*margin: 120px 0 -60px 0;*/
}

.remove-margin {
    margin: 0;
    padding: 0;
}

.management {
    font-family: Avenir Next Condensed;
    font-style: italic;
    color: #ffffff;
    display: flex;
    margin-top: 12px;
    font-size: 25px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  #logo {
      margin-left: 15px;
   }
 #logo-text {
    font-size: 17px;
    padding-right: 6px;
}
  .management {
    font-family: Avenir Next Condensed;
    font-style: italic;
    color: #ffffff;
    display: flex;
    margin-top: 18px;
    font-size: 15px;
    }
}

@media screen and (max-width: 444px) {
   #logo-text {
    font-size: 17px;
    padding-right: 6px;
    }
}

@media screen and (max-width: 425px) {
    #logo {
        margin-left: 15px;
        margin-top: 10px;
    }

    .management {
            font-family: Avenir Next Condensed;
            font-style: italic;
            color: #ffffff;
            display: flex;
            margin-top: 19px;
        }

@media screen and (max-width: 375px) {
        #logo-text {
            font-size: 15px;
            padding: 13px;
            padding-right: 6px;
        }

        .management {
            font-family: Avenir Next Condensed;
            font-style: italic;
            color: #ffffff;
            display: flex;
            margin-top: 17px;
        }
}

@media screen and (max-width: 320px) {
    #logo-text {
    font-size: 12px;
    padding: 13px;
    padding-right: 5px;
}
    .management {
    font-family: Avenir Next Condensed;
    font-style: italic;
    color: #ffffff;
    display: flex;
    margin-top: 18.5px;
    font-size: 11px;
}



